RewriteEngine On

# Verhindert Apaches automatischen Redirect von /bereiche/aktionen -> /bereiche/aktionen/
DirectorySlash Off

# Interner Rewrite (ohne Redirect): /bereiche/aktionen -> bereiche/aktionen.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]
